---
layout: home
title: Mobile Web Speed Scores (PageSpeed Insights)
description: Using a mobile browser we crawl a selection of sites once a week and analyse them for common performance issues and document them here.
---

Categories: {{site.categories}}

{% for category in site.categories %}
<h2>{{category}}</h2>
{% for page in category.pages %}
<div>
  <h3><a href="{{site.baseurl}}{{page.url | remove_first:'/'}}">{{ page.title }}</a></h3>
  <p>{{page.description}}</p>
</div>
{% endfor%}
{% endfor %}